.client-work-div {
    color: var(--secondary-color);
    padding: 15px;
}

.client-work {
    width: 100%;
    max-width: var(--content-width);
    margin: auto;
    padding: 70px 0;
}

.client-work-slider {
    overflow: hidden;
    width: 100%;
}

.client-work-track {
    display: flex;
    gap: 20px;
    width: max-content;
    animation: scrollLefts 25s linear infinite;
}

@keyframes scrollLefts {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}