.client-work-card {
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 10px;
}

.client-work-card-div{
    min-width: 260px;
}

.client-name {
    font-size: 12px;
}

.client-company {
    font-size: 8px;
}

.client-data {
    line-height: 2px;
}
