.our-team {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 40px 15px;
    width: 100%;
}

.our-team-sub {
    width: 100%;
    max-width: var(--content-width);
    margin: auto;
}

@media (max-width: 575px) {
    .our-team {
        width: 100%;
    }
}