.works {
    height: 75vw;
    max-height: 840px;
    margin-top: 50px;
}

.work-card {
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
}

.card-1,
.card-4 {
    height: 55%;
}

.card-2,
.card-3 {
    height: 45%;
}

.card-5 {
    height: 65%;
}

.card-6 {
    height: 35%;
}

.new-work-card{
  position: relative;
  overflow: hidden;
}

.work-card-video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.new-service-card-body{
  position:relative;
  z-index:2;
}

@media (max-width: 768px) {
    .card-1,
    .card-2,
    .card-3,
    .card-4,
    .card-5,
    .card-6 {
        height: 35vw;
        width: 50%;
    }

    .column {
        display: flex;
        gap: 10px;
        margin-top: -5px;
    }
    
    .works {
        height: 100%;
    }
    
}

@media (max-width: 575px) {

    .wrk-desc {
        display: none;
    }

    .work-card {
        padding: 10px;
    }

}